apify_Automation.json
{
  "name": "apify Automation",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('run the apify actor').item.json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "adf288cb-740a-4e02-8796-d9cea65ab946",
      "name": "Get runs actor base on ID ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9eqgEzhTLWF04JJi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "26e743ff-8959-4087-af8d-3a3e6297b5f9",
      "name": "get the dataSet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9eqgEzhTLWF04JJi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{ $json.data.actId }}/runs/{{ $json[\"data\"][\"id\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer apify_api_rLjtcnhoFguqoY9h1V63tuglzeTsK02HmyGr"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "7e24e562-e8d0-4e23-afe8-ae8783d25505",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9eqgEzhTLWF04JJi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "id": "f9a31996-b871-4170-b510-86bc208bc1b1",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -40
      ],
      "webhookId": "7309bffc-3556-47e9-8b44-221c2308bac9"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic",
          "mode": "list",
          "cachedResultName": "SCAPE MAP DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "214e4a92-ef89-4ad6-b2cd-d35675a45ac8",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -40
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "onDwrJiRszInKnrb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1b4696d7-dca3-4f6b-ae7a-ade207df7261",
              "leftValue": "={{ $json.locationQuery }}",
              "rightValue": "locationQuery",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "48e9017d-3084-4367-b5c7-526c36d9f345",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -80,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer apify_api_rLjtcnhoFguqoY9h1V63tuglzeTsK02HmyGr"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deeperCityScrape\": true,\n  \"includeWebResults\": false,\n  \"language\": \"en\",\n  \"locationQuery\": \"{{ $json.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.maxCrawledPlacesPerSearch }},\n  \"maxImages\": 0,\n  \"maxQuestions\": 0,\n  \"maxReviews\": 1,\n  \"onlyDataFromSearchPage\": false,\n  \"scrapeDirectories\": false,\n  \"scrapeImageAuthors\": false,\n  \"scrapeReviewsPersonalData\": true,\n  \"searchStringsArray\": [\"{{ $json.searchStringsArray }}\"],\n  \"skipClosedPlaces\": false\n}\n",
        "options": {}
      },
      "id": "03da8b01-2e19-43a6-828e-f1d685e33986",
      "name": "run the apify actor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9eqgEzhTLWF04JJi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic",
          "mode": "list",
          "cachedResultName": "SCAPE MAP DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "locationQuery": "={{ $('Filter').item.json.locationQuery }}",
            "status": "={{ $json.data.status }}"
          },
          "matchingColumns": [
            "locationQuery"
          ],
          "schema": [
            {
              "id": "locationQuery",
              "displayName": "locationQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "maxReviews",
              "displayName": "maxReviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "searchStringsArray",
              "displayName": "searchStringsArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "19141768-c50e-4fba-bb23-1a76b771488a",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        940,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MsJhApYEvlobrHty",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic",
          "mode": "list",
          "cachedResultName": "SCAPE MAP DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "locationQuery": "={{ $('Filter').item.json.locationQuery }}",
            "status": "={{ $json.data.status }}"
          },
          "matchingColumns": [
            "locationQuery"
          ],
          "schema": [
            {
              "id": "locationQuery",
              "displayName": "locationQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "maxReviews",
              "displayName": "maxReviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "searchStringsArray",
              "displayName": "searchStringsArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "1bcb0198-02b4-48be-a15d-ceeac12057ae",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1420,
        -120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MsJhApYEvlobrHty",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "RUNNING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RUNNING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a5306210-44ca-4883-bf6a-f4783c7dff6a",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "SUCCEEDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCEEDED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1b1632b8-e4d0-43ef-82d6-9ed20de17bf0",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAILED"
            }
          ]
        },
        "options": {}
      },
      "id": "34962328-665d-43de-82e5-b0c89f7b2d35",
      "name": "check status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        960,
        -40
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "57546fea-a406-4704-97b4-0932c35bd766",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        180
      ],
      "webhookId": "649a3781-1f57-4bd2-a238-5aa7aa64692e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic",
          "mode": "list",
          "cachedResultName": "SCAPE MAP DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TW_onqgOEwKYHajyEBPzF4ixKydPOv6Lhf-7OG3ntic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "locationQuery": "={{ $('Filter').item.json.locationQuery }}",
            "status": "={{ $json.data.status }}"
          },
          "matchingColumns": [
            "locationQuery"
          ],
          "schema": [
            {
              "id": "locationQuery",
              "displayName": "locationQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "maxReviews",
              "displayName": "maxReviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "searchStringsArray",
              "displayName": "searchStringsArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "86a40972-cdd2-4f56-88cf-248b07fe9ed7",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1480,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MsJhApYEvlobrHty",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the data from the previous node\nconst items = $input.all();\n\n// Initialize an array to store phone numbers\nlet phoneNumbers = [];\n\n// Loop through the items to extract phone numbers\nfor (let i = 0; i < items.length; i++) {\n  const phone = items[i].json.phoneUnformatted;\n\n  // If the phone number is not null or undefined, format and add it to the array\n  if (phone) {\n    // Remove the '+' sign\n    const formattedPhone = phone.replace(/^\\+/, '');\n    phoneNumbers.push(formattedPhone);\n  }\n}\n\n// Return the result as a single item\nreturn [{\n  json: {\n    phoneNumbers: phoneNumbers\n  }\n}];\n"
      },
      "id": "b38d9bfc-4449-400e-b38f-b2963b2c2d4d",
      "name": "get phone numbers + formatted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        -120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1E9LXj59JWMeplZPH-3h07l6cqo0NZbqey31EMD--XVo",
          "mode": "list",
          "cachedResultName": "automation data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E9LXj59JWMeplZPH-3h07l6cqo0NZbqey31EMD--XVo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E9LXj59JWMeplZPH-3h07l6cqo0NZbqey31EMD--XVo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "searchStringsArray": "={{ $('Filter').all()[0].json.searchStringsArray }}",
            "phone numbers": "={{ $json.phoneNumbers }}",
            "locationQuery": "={{ $('Filter').all()[0].json.locationQuery }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "searchStringsArray",
              "displayName": "searchStringsArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "locationQuery",
              "displayName": "locationQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone numbers",
              "displayName": "phone numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0c94cf20-0215-418c-91b9-2699f9b5adce",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2580,
        -120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MsJhApYEvlobrHty",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get runs actor base on ID ": {
      "main": [
        [
          {
            "node": "get the dataSet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "run the apify actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run the apify actor": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check status": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Get runs actor base on ID ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the dataSet": {
      "main": [
        [
          {
            "node": "get phone numbers + formatted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get phone numbers + formatted": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0712df4-5837-499e-bbf5-4355af933593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7b2b235e69b748c584e766995df8e2cb4a8322d74781a2cbc1dfaf43f2f4b15"
  },
  "id": "5ZOo8a6zhLcwkIuD",
  "tags": []
}